@model API.ViewModels.LoginVM

@{
    ViewData["Title"] = "Login";
}

<div class="d-flex align-items-center justify-content-center">
    <h1 class="d-flex align-items-center">Login</h1>
</div>
<div class="d-flex align-items-center justify-content-center" style="height: 350px;">
    <form action="/User/Login" method="post">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input asp-for="Email" type="email" id="form2Example1" class="form-control" />
            <label asp-for="Email" class="form-label control-label" for="form2Example1">Email address</label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input asp-for="Password" type="password" id="form2Example2" class="form-control" />
            <label asp-for="Password" class="form-label control-label" for="form2Example2">Password</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <!-- Submit button -->
        <input type="submit" value="Sign In" class="btn btn-primary btn-block mb-4" />

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href="/User/Register">Register</a></p>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}