html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;

    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    backdrop-color: #F7F1E5;
    /*  margin-bottom: 60px;
*/
}

nav {
/*    background-color: #898121;
    font-color: #F7F1E5;*/
}