@model API.Models.Approval

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Approval</h4>
    <hr />
    <h1>Details</h1>

    <div>
        <h4>Approval</h4>
        <hr />
        <div class="container">
          <h2 class="mt-5 mb-3">Request Resep</h2>
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Request ID: 123456</h5>
              <p class="card-text"><strong>Nama Resep:</strong> lalala</p>
              <p class="card-text"><strong>Approved:</strong> Yes</p>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Request ID: 987654</h5>
              <p class="card-text"><strong>Nama Resep:</strong> yeeyeye</p>
              <p class="card-text"><strong>Approved:</strong> No</p>
            </div>
          </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new {  id = Model.Id  }) |
        <a asp-action="Index">Back to List</a>
    </div>
</div>

