@model IEnumerable<API.Models.Approval>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h2 class="mt-5 mb-3">Request Resep</h2>
    @foreach (var item in Model)
    {
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">
                    Request ID: @Html.DisplayFor(modelItem => item.Id)
                </h5>
                <p class="card-text"><strong>Nama Resep: </strong>@Html.DisplayFor(modelItem => item.RecipeName)</p>
                <p class="card-text"><strong>Approved: </strong>@Html.DisplayFor(modelItem => item.IsApproved)</p>
                <div>
                    <div class="btn btn-outline-primary btn-link" data-toogle="modal">
                        @Html.ActionLink("Edit", "Edit", new {  id=item.Id  })
                    </div>
                </div>
            </div>
        </div>
    }
<div>