@{
    ViewData["Title"] = "Home";
}

<div class="bg-image w-100 shadow-2-strong" style="background-image: url('https://images.unsplash.com/photo-1606914501449-5a96b6ce24ca?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
            height: 100vh">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Resep Kami</h1>
                <h5 class="mb-4">Tersedia banyak pilihan resep populer</h5>
                <a class="btn btn-outline-light btn-lg m-2" href="~/Recipe/Index" role="button"
                   rel="nofollow" target="_blank">Daftar Resep</a>
            </div>
        </div>
    </div>
</div>